<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>新用户重置密码</title>
  <link rel="stylesheet" type="text/css" href="/css/mygoodsshelf.css"/>
  <link rel="stylesheet" type="text/css" href="/css/upload.css"/>
  <script type="text/javascript" src="/js/jquery-3.2.js"></script>
  <script type="text/javascript" src="/js/login/loginCheck.js">
  </script>
</head>
<body>
<!-- 导航条 -->
<nav class="navbar">
  <div class="nav-menu">
    <ul class="menu">
      <li><a href="#">首页</a></li>
      <li><a href="#">二手商品</a></li>
      <!--<li><a href="request.html">求购区</a></li>-->
    </ul>
  </div><!-- nav-menu -->

  <!--            <form class="nav-search">-->
  <!--                <input type="search" class="searchIn" placeholder="搜二手商品..."/>-->
  <!--                <button class="search-logo"><img src="/image/search.png"/></button>-->
  <!--            </form>-->

  <div class="nav-info">
    <a href="#" class="name" th:text="${marketUser.uname}">徐荪睿</a>
    <!--<a href="cart.html" class="goodsshelf">||&nbsp;&nbsp;&nbsp;我的购物车</a>-->
    <a href="/logout.do" class="logout">[ 退 出 ]</a>
  </div> <!-- nav-info-end -->
</nav>

<div class="titleName">
  <h3>重置密码</h3>
</div>

<div class="container">
  <form action="/newPassword.do" method="post">
<!--    <input type="hidden" th:value="${editUID}" name="UID"/>-->
    <p>
      <span class="desc-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input id="originPwd" type="hidden" th:value="${originPwd}"/>
      密&nbsp;&nbsp;&nbsp;&nbsp;码：<input id="password" type="password" onfocusout="validate1()" name="Password"/>
    </p><br/>
    <p>
      <span class="orign-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      重复密码：<input id="rePassword" type="password" onfocusout="validate2()" name="rePassword"/>
      <span id="passwordError" style="color: red"></span>
    </p>
    <input type="submit" class="submit-btn" name="goods-submit"/>
  </form>
</div>
<footer>
  <a href="#">©2021-7 二手物品交易</a>
  <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
</body>
</html>