<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>用户修改密码</title>
  <link rel="stylesheet" type="text/css" href="/css/mygoodsshelf.css"/>
  <link rel="stylesheet" type="text/css" href="/css/upload.css"/>
  <script type="text/javascript" src="/js/jquery-3.2.js"></script>
  <script type="text/javascript">
    function validate()
    {
      var password = document.getElementById("password").value;
      var rePassword = document.getElementById("rePassword").value;

      if (password !== rePassword)
      {
        document.getElementById("passwordError").innerHTML="两次输入密码不一致";
        document.getElementById("submit").disabled = true;
      }
      else
      {
        if (6 - password.length > 0)
        {
          document.getElementById("passwordError").innerHTML="密码长度过短，应为6~18位";
          document.getElementById("submit").disabled = true;
        }
        else if (password.length > 18)
        {
          document.getElementById("passwordError").innerHTML="密码长度过长，应为6~18位";
          document.getElementById("submit").disabled = true;
        }
        else {
          document.getElementById("passwordError").innerHTML="";
          document.getElementById("submit").disabled = false;
        }
      }
    }
  </script>
</head>
<body>
<!-- 导航条 -->
<nav class="navbar">
  <div class="nav-menu">
    <ul class="menu">
      <li><a href="/">首页</a></li>
      <li><a href="/goToMallPage.do">二手商品</a></li>
      <!--                <li><a href="request.html">求购区</a></li>-->
    </ul>
  </div><!-- nav-menu -->
  <div class="nav-info">
    <a href="/personal_info.do" th:text="${marketUser.uname}"></a>
    <a class="goodshelf" href="/goToMyCart.do">||&nbsp;&nbsp;&nbsp;我的购物车</a>
    <a class="logout" href="/logout.do">[ 退 出 ]</a>
  </div> <!-- nav-info -->
</nav>

<div class="titleName">
  <h3>修改个人密码</h3>
</div>

<div class="container">
  <form action="/submitMyPassword.do" method="post">
    <!--    <input type="hidden" th:value="${editUID}" name="UID"/>-->
    <p>
      <span class="desc-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      密&nbsp;&nbsp;&nbsp;&nbsp;码：<input id="password" type="password" name="Password"/>
    </p><br/>
    <p>
      <span class="orign-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      重复密码：<input id="rePassword" type="password" onkeyup="validate()" name="rePassword"/>
      <span id="passwordError" style="color: red"></span>
    </p>
    <input id="submit" type="submit" class="submit-btn" name="goods-submit"/>
  </form>
</div>
<footer>
  <a href="#">©2021-7 二手物品交易</a>
  <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
</body>
</html>